body {
    font-family: "Architects Daughter", cursive, courier, monospace;
    background-color: #e5e7e4;
    color: #27412b; /* Main Text */
    font-family: "Architects Daughter", cursive; /* Font for the whole website other than the title */
}

.blog-header {
    font-size: 4em; 
    margin: 0; 
    font-weight: bold; 
    text-align: center;
}
    
.blogpost-image {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;      
    height: auto;             
}

.sub-heading {
    display: flex;
    padding-left: 30px;
}

.caption {
    font-size: 12px;
    color: #828782; /* Light gray for caption text */
    margin-bottom: 15px;
    font-style: italic; /* Italicizes the caption for emphasis */
    text-align: center; /* Centers the caption text */
  }

.blog-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.blog-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-menu {
    padding: 10px 20px;
    background-color: #27412b; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.responsive-image {
    width: 80%;               
    height: auto;             
    display: block;          
}

.author-container {
    display: flex;
    justify-content: center;
}

.about-author {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
}

.about-avatar {
    height: 100px;
    border-radius: 100%;
    padding: 20px;
}

.quote {
    font-weight: bold;
    font-size: 13px;
}

.avatar-socials {
    list-style: none;
}

.avatar-socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
}

.avatar-socials i {
    color: #27412b;
    transition: color 0.3s ease; /* Hovering color transition*/
}

.avatar-socials i:hover {
    color:  #678f58 ; /* Color while hovering */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .about-author {
        flex-direction: column; 
        align-items: center; 
        width: 90%; 
    }

    .about-avatar {
        margin-bottom: 20px; /* Add space between avatar and text */
    }
}