footer {
    grid-area: footer;
}

footer {
    width: 100%;
    background-color: #27412b;
    padding: 10px;
    color: rgb(180, 206, 111);
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer ul li {
    list-style: none;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-socials i {
    color: rgb(180, 206, 111);
    transition: color 0.3s ease; /* This is for the hovering color transition*/
}

.footer-socials i:hover {
    color:  #678f58 ; /* Color change while hovering */
}