/* Navbar Styles */
.navbar {
    background-color: #27412b;
    padding: 10px;
}

.navbar li {
    list-style-type: none;
    margin: 0 10px;
}

.navbar {
    grid-area: navbar;
}

/* Makes my menu responsive and on a row */
.menu {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Aligns menu items on the left and social media icons on the right */
.nav-menu {
    display: flex;
}

.menu-socials {
    display: flex;
    flex-direction: row;
    margin-left: auto; 
    gap: 5px;
}

/* Menu Link Styles */
.menu a {
    color: rgb(180, 206, 111);
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-menu a:hover {
    background-color: #678f58;
    border-radius: 4px;
}

.menu-socials i:hover {
    color: #678f58;

}

/* Responsive Design */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-socials {
        margin-left: 0;
        margin-top: 10px;
    }
}