.scroll {
    width: 100%;
    background-color:  rgb(180, 206, 111);
    padding: 10px; 
}

.featured-title {
    text-align: center; 
    color: #27412b; 
    padding-bottom: 10px;
}

.featured-images {
    display: flex; 
    gap: 10px; 
    overflow-x: auto; 
    padding: 10px 0; 
    justify-content: center;
}

.featured-images a {
    display: inline-block; /* links aligned properly */
}

.featured-images img {
    height: 100px;
    width: auto; /* Maintain aspect-ratio */
    border-radius: 20%;
    transition: transform 0.3s ease; /* Transition upon hovering */
}

.featured-images img:hover {
    transform: scale(1.1); /* Slight zoom when hovering */
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .featured-images {
        gap: 10px; 
    }

    .featured-images img {
        height: 80px; 
    }
}

@media (max-width: 480px) {
    .featured-images {
        flex-direction: column; 
        align-items: center; 
        gap: 10px; 
    }

    .featured-images img {
        height: 150px; 
    }
}