.sidebar {
    grid-area: sidebar;
}

.sidebar {
    width: 110%;
    background-color: #c4ba2c;
    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 15px;
}

/* Sidebar Section */
.sidebar {
    background-color: #e5e7e4; 
    height: 100%; 
}

/* Newsletter Subscribe Styling */
.newsletter {
    background-color: #b5c461; 
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center; /* Center the elements */
}

.newsletter h3 {
    color: #27412b; 
    margin-bottom: 15px;
}

.newsletter input[type="email"] {
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #27412b; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter button:hover {
    background-color: #678f58; 
}

.newsletter input[type="email"]:focus {
    outline: none;
    border: 2px solid #27412b; 
}

/* About Me Section Styling */
.about-me {
    background-color:#27412b; 
    padding: 20px;
    border-radius: 8px;
    text-align: center; /* Centering the content */
    margin-bottom: 20px; 
}

.about-me h3 {
    color:  #b5c461; 
    margin-bottom: 15px;
}

.about-me .avatar {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-bottom: 10px;
}

.about-me p {
    color:  #b5c461; 
    font-size: 14px;
    line-height: 1.5;
}

/* Popular Posts Section Styling */
.popular-posts {
    background-color:  #b5c461; 
    padding: 20px;
    border-radius: 8px; 
    margin-bottom: 20px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: 100%;
}

.popular-posts h3 {
    color: #27412b; 
    margin-bottom: 15px;
    text-align: center;
}

.popular-posts ul {
    list-style-type: none;
    padding: 0; 
}

.popular-posts li {
    margin-bottom: 10px; /* Space between each post link */
}

.popular-posts li a {
    color: #27412b; 
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth color transition */
}

.popular-posts li a:hover {
    color: #e5e7e4; /* Changing color on hover for this section*/
}

/* Media Queries for Responsive Design */

/* For devices with a max-width of 768px */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; 
        padding: 10px; 
    }

    .newsletter input[type="email"] {
        width: 100%; 
    }
}

/* For devices with a max-width of 480px */
@media (max-width: 480px) {
    .about-me .avatar {
        width: 80px; 
        height: 80px; 
    }

    .about-me p {
        font-size: 12px; 
    }

    .newsletter {
        padding: 15px; 
    }

    .newsletter input[type="email"] {
        padding: 8px; 
    }

    .newsletter button {
        padding: 8px 16px; 
    }
}